$btn-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
$nav-link-transition: all 0.3s ease-in-out
$blackColor1 : #444
$blackColor2 : #222

@import ~bootstrap/scss/bootstrap
@import ~@morteza-jamali/lineicons/WebFont/font-css/LineIcons.css

.text-gray-light
  color: gray("500")

.bg-blackColor1
  background-color: $blackColor1
.bg-blackColor2
  background-color: $blackColor2

a , button
  text-decoration: none !important

.sideNav
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%)
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%)
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%)
  li
    background: $blackColor1
    +transition($nav-link-transition)
    &.active
      button
        color: $white
      i
        background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%)
        background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%)
        background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%)
        -webkit-background-clip: text
        -moz-background-clip: text
        background-clip: text
        -webkit-text-fill-color: transparent
        +transition($nav-link-transition)
    &:not(:first-of-type)
      border-top: 1px solid #666
  button
    display: block
    height: 100%
    text-align: center
    &:focus
      box-shadow: none
    &:hover
      color: $white
  i
    display: block
.website-content
  .profile-image
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 60%
    border-top-left-radius: 0 !important
    border-top-right-radius: 0 !important
    border-bottom-right-radius: 0 !important